@import "../global/colors";


.about{
  padding: 150px 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  h1{
    margin-bottom: 20px;
    font-size: 32px;
    position: relative;
    &:before{
      content: "";
      width: 30px;
      position: absolute;
      left:0;
      top:-20px;
      height: 2px;
      background: $mainColor;
    }
  }
  q{
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    color: #999;
    margin: 0 auto 20px;
    display: inline-block;
    span{
      display: block;
      text-align: right;
      font-size: 12px;
    }
  }
  .right-content{
    float: right;
    width: 45%;
    img{
      width: 100%;
    }
  }
  .left-content{
    float: left;
    width: 45%;
    .link{
      margin-top: 40px;
    }
  }
}