@import "../global/colors";

.contact {
  header{
    background: url("/img/contact.jpg");
    background-size: cover;
  }
  .contact-form{
    margin: 100px auto 0;
    max-width: 800px;
    h1{
      margin-bottom: 20px;
      position: relative;
      &:before{
        content: "";
        width: 30px;
        position: absolute;
        left:0;
        top:-20px;
        height: 2px;
        background: $mainColor;
      }
    }

    .left-side{
        li{
          position: relative;
          margin-bottom: 20px;
          padding-left: 30px;
          &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
          }
          &.location:before{
            background: url("/img/location.svg");
            background-size: 100% 100%;
          }
          &.phone:before{
            background: url("/img/phone.svg");
            background-size: 100% 100%;
          }
          &.mail:before{
            background: url("/img/envelope.svg");
            background-size: 100% 100%;
          }
          a{
            line-height: 1.5;
            color: $grey;
            img{
              width: 20px;
              max-height: 20px;
              float: left;
            }
          }
        }
    }
    .right-side{
      .cta{
        padding: 15px 30px;
        margin-top: 20px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100%;
        display: block;
      }
      .input{
        width: 100%;
        margin-bottom: 20px;
        input{
          width: 100%;
          border: 1px solid $lightGrey;
          border-radius: 0;
          transition: .25s ease;
          &:focus{
            border-bottom: 1px solid $mainColor;
          }
          &.half{
            width: 47.5%;
            display: inline-block;
            &:first-child{
              margin-right: 5%;
            }
          }
        }
        textarea{
          border: 1px solid $lightGrey;
          border-radius: 2px;
          height: 150px;
          width: 100%;
          transition: .25s ease;
          &:focus{
            border: 1px solid $mainColor;
          }
        }
      }
    }
  }
  .infos{
    margin-top: 20px;
  }
  .map{
    img{
      max-width: 90%;
    }
  }
}