@import "../global/colors";

.enfants-ados {
  .container {
    li{
      width: 100%;
      padding: 5px 0;
      position: relative;
      padding-left: 20px;
      line-height: 1.4;
      &:before{
        content:"";
        position: absolute;
        left: 0;
        top:14px;
        transform: translate(0,-50%);
        background: $mainColor;
        width: 7px;
        height: 7px;
      }
    }
  }
}