@import "../global/colors";

.home {
  >header{
    background: url("/img/bg.jpg");
    background-size: cover;
  }
  .list-link{
    text-align: center;
    h2{
      color: $grey;
      padding-top: 30px;
    }
    p{
      color: $grey;
      padding: 10px 0 20px;
    }
  }
}

.quote{
  position: relative;
  padding: 40px !important;
  font-weight: 300;
  line-height: 1.4;
  font-size: 32px;
  margin: 120px auto 80px;
  text-align: left;
  display: inline-block;
  max-width: 800px;
  .author{
    position: relative;
    display: inline-block;
    padding-top: 20px;
    font-weight: bold;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 2px;
      background: $mainColor;
    }
  }
  &:before,&:after{
    content: "";
    width: 80px;
    height: 70px;
    background: url("/img/quote.svg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .05;
  }
  &:after{
    right: 0;
    bottom: 60px;
    left: auto;
    top: auto;
    transform: scale(-1);
  }

  span{
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
    display: block;
    color: $grey;
  }
}
