@import "../global/colors";

.news {
  >header{
    background: url("/img/wincoach.png");
    background-size: cover;
  }
  .all-news{
    max-width: 700px;
    margin: 50px auto 0;
    li{
      margin-bottom: 50px;
      a{
        color: $darkGrey;
        display: flex;
        justify-content: space-between;
      }
      span{
        color: $mainColor;
        position: relative;
        padding-left: 30px;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          top:50%;
          transform: translate(0,-50%);
          width: 20px;
          height: 1px;
          background: $mainColor;
        }
      }
      h1{
        font-size: 18px;
        margin: 10px auto;
        line-height: 1.4;
      }
    }
    .image{
      width: 40%;
      overflow: hidden;
    }
    .content{
      width: 55%;
    }
  }
}