@import "../global/colors";
footer.main-footer{
  padding: 25px 0;
  text-align: center;
  position: relative;
  max-width: 1200px;
  margin: 100px auto 0;
  .flex{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .title{
    max-width: 150px;
    text-align: center;
  }
  .social{
    margin-top: 35px;
    li{
      display: inline-block;
      margin-right: 10px; &:last-child{ margin-right: 0; }
      a{
        padding: 10px;
        border: 1px solid $grey;
        border-radius: 50px;
        display: block;
        svg{
          width: 12px;
          height: 12px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
  small{
    margin-top: 10px;
    color: $lightGrey;
    font-size: 12px;
  }

  .kevinkevers{
    margin-top: 10px;
    svg{
      width: 15px;
      height: 15px;
      path{
        fill:$white;
        stroke:$grey;
        stroke-width: 2;
      }
    }
  }
  hr{
    width: 100%;
    height: 1px;
    background: $lightGrey;
    border: 0;
    padding: 0;
    margin: 10px auto;
  }
}