@import "../global/colors";
.main-header{
  height: 57px;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 99;
  h1{
    margin-top: 0;
  }
  .container{
    max-width: 95%;
    margin: 0 auto;
  }
  .main-nav{
    float: right;
    margin-top: 8px;
    box-sizing: border-box;
    .cat-list > li{
      float: left;
      margin-right: 25px;
      >a{
        height: 57px;
        font-size: 13px;
        font-weight: bold;
        line-height: 58px;
        display: inline-block;
        border-bottom: 0 solid transparent;
        transition:.2s ease;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 1px 1px 20px rgba(20, 20, 20, .8);
        font-family: $subFont;
        &:hover{
          color: $mainColor;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .logo{
    float: left;
    display: inline-block;
    height: 70px;
    line-height: 49px;
    img{
      max-height: 75px;
    }
  }

  li.dd-menu{
    position: relative;
    &:hover{
      ul{
        opacity: 1;
        pointer-events: auto;
      }
    }
    ul{
      position: absolute;
      right: 0;
      top: 40px;
      opacity: 0;
      pointer-events: none;
      width: 250px;
      z-index: 9999;
      transition:.3s ease;
      transform: translate(0,5px);
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      li{
        width: 100%;
        a{
          width: 100%;
          display: block;
          font-size: 13px;
          background: $white;
          padding: 14px 24px;
          color: $grey;
          text-transform: uppercase;
          &:hover{
            background: $mainColor;
            color: $white;
          }
        }
      }
    }
  }

  .burger-menu{
    position: fixed;
    width: 30px;
    top: 20px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    background: rgba(255,255,255,.2);
    border-radius: 20px;
    padding: 8px;
    box-sizing: border-box;
  }

  @media(max-width: 920px){
    z-index: 99999;
    .burger-menu {
      opacity: 1;
      pointer-events: auto;
      z-index: 99999;
    }
    .logo img{
      max-height: 50px;
    }
    .main-nav{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background: $white;
      z-index: 9999;
      margin-top: 0;
      opacity: 0;
      pointer-events: none;
      transition: .25s;
      &.active{
        opacity: 1;
        pointer-events: auto;
      }
      .cat-list{
        li{
          width: 100%;
          float: none;
          margin-right: 0;
          a{
            text-align: center;
            display: block;
            color: $grey;
            text-shadow: none;
          }
          &.dd-menu{
            ul{
              opacity: 1;
              position: relative;
              top:auto;
              left: auto;
              width: 100%;
              li{
                a:hover{
                  background: $white;
                  color: $grey;
                }
              }
            }
          }
        }
      }
    }
  }
}