.admin {
  background: #DFDFDF;
}

.manager {
  background: #DFDFDF;
}

.manager a {
  color: #4b4b4b;
}

.manager .back {
  padding-left: 25px;
  position: relative;
}

.manager .back:before {
  position: absolute;
  content: "";
  background: url(/img/arrow-with-line.svg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-size: cover;
  left: 0;
  top: 4px;
  height: 15px;
  width: 15px;
}

.manager .navigation {
  position: fixed;
  min-height: 100vh;
  width: 90px;
  left: 0;
  top: 0;
  background: #1e272e;
  z-index: 999;
}

.manager .navigation .logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.manager .navigation .logout svg path {
  fill: #FFFFFF;
}

.manager .navigation header {
  padding: 20px;
  box-sizing: border-box;
}

.manager .navigation header svg {
  max-width: 100%;
  height: 50px;
}

.manager .navigation header svg path {
  fill: #FFFFFF;
}

.manager .navigation .main-nav button, .manager .navigation .main-nav a {
  line-height: 20px;
  padding: 10px 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  transition: .25s ease;
  color: #FFFFFF;
}

.manager .navigation .main-nav button span, .manager .navigation .main-nav a span {
  display: block;
  font-size: 12px;
  opacity: 0;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: .3s ease;
}

.manager .navigation .main-nav button svg, .manager .navigation .main-nav a svg {
  height: 25px;
  width: 25px;
}

.manager .navigation .main-nav button svg path, .manager .navigation .main-nav a svg path {
  transition: .3s ease;
  fill: #FFFFFF;
}

.manager .navigation .main-nav button:hover, .manager .navigation .main-nav a:hover {
  color: #FF2F46;
}

.manager .navigation .main-nav button:hover span, .manager .navigation .main-nav a:hover span {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.manager .navigation .main-nav button:hover svg path, .manager .navigation .main-nav a:hover svg path {
  fill: #FF2F46;
}

.manager .navigation .main-nav button.active, .manager .navigation .main-nav a.active {
  background: #1e272e;
}

.manager .navigation .main-nav button.active span, .manager .navigation .main-nav a.active span {
  color: #FF2F46;
}

.manager .navigation .main-nav button.active svg path, .manager .navigation .main-nav a.active svg path {
  fill: #FF2F46;
}

.manager .admin-header {
  border-bottom: 1px solid #DFDFDF;
  overflow: hidden;
  margin-left: 300px;
  width: calc(100% - 300px);
}

.manager .admin-header .header-menu {
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
}

.manager .admin-header .header-menu a {
  font-weight: bold;
  padding-bottom: 13px;
  display: block;
  color: #9a9a9a;
  transition: .2s ease;
}

.manager .admin-header .header-menu a:after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  background: #4b4b4b;
  opacity: 1;
}

.manager .admin-header .header-menu a:hover {
  color: #4b4b4b;
}

.manager .admin-header .header-menu a.active {
  color: #222222;
}

.manager .admin-header .header-menu a.active:after {
  width: 100%;
  background: #FF2F46;
}

.manager .admin-header h1 {
  display: inline-block;
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
}

.manager .main-content {
  margin-left: 300px;
  width: calc(100% - 300px);
  padding: 0 20px 20px;
  box-sizing: border-box;
}

.manager .main-content .main-action-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  z-index: 99999;
  padding: 10px;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
}

.manager .main-content .main-action-bar button {
  margin-left: 20px;
}

.manager .main-content h1 {
  font-size: 16px;
}

.manager .main-content .input-editor {
  width: 100%;
}

.manager .main-content .editor {
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  width: 100%;
  min-height: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.manager .main-content .image-editor {
  height: 200px;
  border: 1px solid #DFDFDF;
}

.manager .main-content .image-editor a {
  position: relative;
  display: block;
  height: 200px;
}

.manager .main-content .image-editor a:hover:before, .manager .main-content .image-editor a:hover:after {
  opacity: 1;
}

.manager .main-content .image-editor a:hover:before {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.manager .main-content .image-editor a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.9);
  opacity: 0;
  transition: .25s ease;
  z-index: 99;
}

.manager .main-content .image-editor a:before {
  content: "Modifier";
  position: absolute;
  left: 50%;
  top: 80px;
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  z-index: 999;
  color: #FFFFFF;
  opacity: 0;
  padding: 10px 20px;
  border: 2px solid #FFFFFF;
  transition: .4s ease;
}

.manager .main-content .image-editor svg {
  position: absolute;
  left: 50%;
  top: 50px;
  height: 80px;
  width: 50px;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.manager .main-content .image-editor .image {
  text-align: center;
}

.manager .main-content .image-editor .image img {
  max-height: 200px;
  z-index: 3;
  position: relative;
  margin: 0 auto;
}

.manager .main-content .filters button {
  background: none;
  border: 1px solid #DFDFDF;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 50px;
}

.manager .main-content .card {
  background: #FFFFFF;
  box-shadow: 0 2px 1px #ccc;
  padding: 0;
  margin: 20px;
}

.manager .main-content .card h2 {
  color: #1e272e;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.dashboard .page-list a {
  display: block;
  padding: 20px 0;
  transition: .2s ease;
  color: #4b4b4b;
}

.dashboard .page-list a:hover {
  position: relative;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.dashboard .page-list svg {
  max-width: 100px;
}

.dashboard .page-list svg path {
  fill: #FF2F46;
}

.dashboard .page-list span {
  display: block;
  margin-top: 20px;
}

.login {
  padding-top: 150px;
  min-height: 100vh;
  text-align: center;
  background: #DFDFDF;
}

.login h1 {
  margin: 0 auto 20px;
  color: #1e272e;
  font-size: 24px;
}

.login .container {
  margin: 0 auto;
  padding: 24px 32px;
  box-shadow: 0 2px 1px #ccc;
  max-width: 400px;
  background: #F5F5F5;
}

.login .container img {
  max-width: 100px;
  display: block;
  margin: 20px auto 40px;
}

.login .container input {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-indent: 20px;
  margin: 16px auto;
}

.login .container .cta {
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
}

.login .error {
  color: #f50;
  font-size: 1rem;
  font-weight: 300;
  padding-top: 20px;
}

.login .resetPassword {
  color: #9a9a9a;
  padding-top: 1rem;
  display: block;
}

.admin .cta {
  background: #1e272e;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.admin .cta:hover {
  background: #EF1E46;
}

.sub-menu-to-display {
  position: fixed;
  opacity: 0;
  left: 90px;
  padding-top: 20px;
  top: 0;
  width: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: #2e373e;
}

.sub-menu-to-display.active {
  opacity: 1;
  width: 210px;
}

.sub-menu-to-display h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFFFFF;
  padding: 10px 10px 10px 25px !important;
}

.sub-menu-to-display a {
  text-align: left !important;
  font-size: 14px;
  padding: 15px 15px 15px 25px !important;
}

.sub-menu-to-display a svg path {
  fill: #FFFFFF !important;
}

.sub-menu-to-display a.active {
  background: #FF2F46 !important;
}

.sub-menu-to-display a.active:hover {
  color: #FFFFFF !important;
}

.sub-menu-to-display a.active:hover svg path {
  fill: #FFFFFF !important;
}

.sub-menu-to-display a svg {
  margin-right: 10px;
  position: relative;
  top: 2px;
  height: 15px !important;
  width: 15px !important;
}

.sub-menu-to-display a svg path {
  fill: #FFFFFF;
}

.popup {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popup.active {
  opacity: 1;
  pointer-events: auto;
}

.popup .overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.5);
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.popup .action {
  margin: 20px auto 0;
}

.popup .action .upload-file-label {
  padding: 30px;
  display: inline-block;
  border: 1px solid #DFDFDF;
  cursor: pointer;
}

.popup .content {
  position: fixed;
  left: 50%;
  top: 50%;
  min-height: 100px;
  min-width: 100px;
  background: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup .content .exit {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
}

.popup .content .library {
  width: 900px;
}

.popup .content .library .img-list {
  height: 50vh;
}

.popup .content .library .img-list ul {
  height: 50vh;
  overflow: auto;
}

.popup .content .library .img-list ul .el {
  margin-right: 16px;
  display: block;
  overflow: hidden;
  float: left;
  margin-bottom: 16px;
}

.popup .content .library .img-list ul .el:nth-child(6n+6) {
  margin-right: 0;
}

.popup .content .library .img-list ul .el a {
  display: block;
  height: 130px;
  width: 130px;
  overflow: hidden;
  border: 4px solid transparent;
  transition: .25s ease;
  box-sizing: border-box;
}

.popup .content .library .img-list ul .el a:hover {
  border: 4px solid #FF2F46;
}

.popup .content .library .img-list ul .el img {
  max-width: none;
  margin: 0 auto;
}

.list {
  padding: 20px;
  background: #FFFFFF;
}

.list .labels a {
  text-transform: uppercase;
}

.list .articles a {
  color: #4b4b4b;
  border-bottom: 1px solid #DFDFDF;
}

.list .articles a:hover {
  background: #F5F5F5;
}

.list .articles li:last-child a {
  border-bottom: 0;
}

@charset "UTF-8";
/*! Licensed under MIT, https://github.com/sofish/pen */
/* basic reset */
.pen:focus {
  outline: none;
}

.pen fieldset, img {
  border: 0;
}

.pen blockquote {
  padding-left: 10px;
  margin-left: -14px;
  border-left: 4px solid #1abf89;
}

.pen a {
  color: #1abf89;
}

.pen del {
  text-decoration: line-through;
}

.pen sub, .pen sup {
  font-size: 75%;
  position: relative;
  vertical-align: text-top;
}

:root .pen sub, :root .pen sup {
  vertical-align: baseline;
  /* for ie9 and other mordern browsers */
}

.pen sup {
  top: -0.5em;
}

.pen sub {
  bottom: -0.25em;
}

.pen hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 25px;
  *color: pink;
  *-webkit-filter: chroma(color=pink);
  *filter: chroma(color=pink);
  height: 10px;
  *margin: -7px 0 15px;
}

.pen small {
  font-size: 0.8em;
  color: #888;
}

.pen em, .pen b, .pen strong {
  font-weight: 700;
}

.pen pre {
  white-space: pre-wrap;
  padding: 0.85em;
  background: #f8f8f8;
}

/* block-level element margin */
.pen p, .pen pre, .pen ul, .pen ol, .pen dl, .pen form, .pen table, .pen blockquote {
  margin-bottom: 16px;
}

/* headers */
.pen h1, .pen h2, .pen h3, .pen h4, .pen h5, .pen h6 {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.pen h1 {
  font-size: 2em;
}

.pen h2 {
  font-size: 1.8em;
}

.pen h3 {
  font-size: 1.6em;
}

.pen h4 {
  font-size: 1.4em;
}

.pen h5, .pen h6 {
  font-size: 1.2em;
}

/* list */
.pen ul, .pen ol {
  margin-left: 1.2em;
}

.pen ul, .pen-ul {
  list-style: disc;
}

.pen ol, .pen-ol {
  list-style: decimal;
}

.pen li ul, .pen li ol, .pen-ul ul, .pen-ul ol, .pen-ol ul, .pen-ol ol {
  margin: 0 2em 0 1.2em;
}

.pen li ul, .pen-ul ul, .pen-ol ul {
  list-style: circle;
}

/* pen menu */
.pen-menu [class^="icon-"], .pen-menu [class*=" icon-"] {
  /* reset to avoid conflicts with Bootstrap */
  background: transparent;
  background-image: none;
}

.pen-menu {
  min-width: 320px;
}

.pen-menu, .pen-input {
  font-size: 14px;
  line-height: 1;
}

.pen-menu {
  white-space: nowrap;
  box-shadow: 1px 2px 3px -2px #222;
  background: #333;
  background-image: linear-gradient(to bottom, #222, #333);
  opacity: 0.9;
  position: fixed;
  height: 36px;
  border: 1px solid #333;
  border-radius: 3px;
  display: none;
  z-index: 1000;
}

.pen-menu:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.pen-menu:after {
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #333;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}

.pen-menu-below:after {
  top: -11px;
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pen-icon {
  font: normal 900 16px/40px Georgia serif;
  min-width: 20px;
  display: inline-block;
  padding: 0 10px;
  height: 36px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pen-icon:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pen-icon:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pen-icon:hover {
  background: #000;
}

.pen-icon.active {
  color: #1abf89;
  background: #000;
  box-shadow: inset 2px 2px 4px #000;
}

.pen-input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 36px;
  line-height: 20px;
  background: #333;
  color: #fff;
  border: none;
  text-align: center;
  display: none;
  font-family: arial, sans-serif;
}

.pen-input:focus {
  outline: none;
}

.pen-textarea {
  display: block;
  background: #f8f8f8;
  padding: 20px;
}

.pen textarea {
  font-size: 14px;
  border: none;
  background: none;
  width: 100%;
  _height: 200px;
  min-height: 200px;
  resize: none;
}

@font-face {
  font-family: 'pen';
  src: url("/font/fontello.eot?370dad08");
  src: url("/font/fontello.eot?370dad08#iefix") format("embedded-opentype"), url("/font/fontello.woff?370dad08") format("woff"), url("/font/fontello.ttf?370dad08") format("truetype"), url("/font/fontello.svg?370dad08#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

.pen-menu [class^="icon-"]:before, .pen-menu [class*=" icon-"]:before {
  font-family: "pen";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.pen-menu .icon-location:before {
  content: '\e815';
}

/* '' */
.pen-menu .icon-fit:before {
  content: '\e80f';
}

/* '' */
.pen-menu .icon-bold:before {
  content: '\e805';
}

/* '' */
.pen-menu .icon-italic:before {
  content: '\e806';
}

/* '' */
.pen-menu .icon-justifyleft:before {
  content: '\e80a';
}

/* '' */
.pen-menu .icon-justifycenter:before {
  content: '\e80b';
}

/* '' */
.pen-menu .icon-justifyright:before {
  content: '\e80c';
}

/* '' */
.pen-menu .icon-justifyfull:before {
  content: '\e80d';
}

/* '' */
.pen-menu .icon-outdent:before {
  content: '\e800';
}

/* '' */
.pen-menu .icon-indent:before {
  content: '\e801';
}

/* '' */
.pen-menu .icon-mode:before {
  content: '\e813';
}

/* '' */
.pen-menu .icon-fullscreen:before {
  content: '\e80e';
}

/* '' */
.pen-menu .icon-insertunorderedlist:before {
  content: '\e802';
}

/* '' */
.pen-menu .icon-insertorderedlist:before {
  content: '\e803';
}

/* '' */
.pen-menu .icon-strikethrough:before {
  content: '\e807';
}

/* '' */
.pen-menu .icon-underline:before {
  content: '\e804';
}

/* '' */
.pen-menu .icon-blockquote:before {
  content: '\e814';
}

/* '' */
.pen-menu .icon-undo:before {
  content: '\e817';
}

/* '' */
.pen-menu .icon-code:before {
  content: '\e816';
}

/* '' */
.pen-menu .icon-pre:before {
  content: '\e816';
}

/* '' */
.pen-menu .icon-unlink:before {
  content: '\e811';
}

/* '' */
.pen-menu .icon-superscript:before {
  content: '\e808';
}

/* '' */
.pen-menu .icon-subscript:before {
  content: '\e809';
}

/* '' */
.pen-menu .icon-inserthorizontalrule:before {
  content: '\e818';
}

/* '' */
.pen-menu .icon-pin:before {
  content: '\e812';
}

/* '' */
.pen-menu .icon-createlink:before {
  content: '\e810';
}

/* '' */
.pen-menu .icon-h1:before {
  content: 'H1';
}

.pen-menu .icon-h2:before {
  content: 'H2';
}

.pen-menu .icon-h3:before {
  content: 'H3';
}

.pen-menu .icon-h4:before {
  content: 'H4';
}

.pen-menu .icon-h5:before {
  content: 'H5';
}

.pen-menu .icon-h6:before {
  content: 'H6';
}

.pen-menu .icon-p:before {
  content: 'P';
}

.pen-menu .icon-insertimage:before {
  width: 1.8em;
  margin: 0;
  position: relative;
  top: -2px;
  content: 'IMG';
  font-size: 12px;
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 2px;
}

.pen {
  position: relative;
}

.pen.hinted h1:before,
.pen.hinted h2:before,
.pen.hinted h3:before,
.pen.hinted h4:before,
.pen.hinted h5:before,
.pen.hinted h6:before,
.pen.hinted blockquote:before,
.pen.hinted hr:before {
  color: #eee;
  position: absolute;
  right: 100%;
  white-space: nowrap;
  padding-right: 10px;
}

.pen.hinted blockquote {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.pen.hinted blockquote:before {
  color: #1abf89;
  content: ">";
  font-weight: bold;
  vertical-align: center;
}

.pen.hinted h1:before {
  content: "#";
}

.pen.hinted h2:before {
  content: "##";
}

.pen.hinted h3:before {
  content: "###";
}

.pen.hinted h4:before {
  content: "####";
}

.pen.hinted h5:before {
  content: "#####";
}

.pen.hinted h6:before {
  content: "######";
}

.pen.hinted hr:before {
  content: "﹘﹘﹘";
  line-height: 1.2;
  vertical-align: bottom;
}

.pen.hinted pre:before, .pen.hinted pre:after {
  content: "```";
  display: block;
  color: #ccc;
}

.pen.hinted ul {
  list-style: none;
}

.pen.hinted ul li:before {
  content: "*";
  color: #999;
  line-height: 1;
  vertical-align: bottom;
  margin-left: -1.2em;
  display: inline-block;
  width: 1.2em;
}

.pen.hinted b:before, .pen.hinted b:after {
  content: "**";
  color: #eee;
  font-weight: normal;
}

.pen.hinted i:before, .pen.hinted i:after {
  content: "*";
  color: #eee;
}

.pen.hinted a {
  text-decoration: none;
}

.pen.hinted a:before {
  content: "[";
  color: #ddd;
}

.pen.hinted a:after {
  content: "](" attr(href) ")";
  color: #ddd;
}

.pen-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder);
  color: #999;
  cursor: text;
}

.border-notification {
  position: fixed;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9999999;
  padding: 20px;
  padding-left: 50px;
  min-width: 40%;
  border: 1px solid rgba(50, 50, 255, 0.7);
  background: rgba(190, 190, 255, 0.9);
}

.border-notification:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background-size: cover;
  background: url("/img/notification/info.svg");
}

.border-notification.success {
  border: 1px solid rgba(50, 255, 50, 0.7);
  background: rgba(190, 255, 190, 0.9);
}

.border-notification.success:before {
  background-size: cover;
  background: url("/img/notification/success.svg");
}

.border-notification.error {
  border: 1px solid rgba(255, 50, 50, 0.7);
  background: rgba(255, 190, 190, 0.9);
}

.border-notification.error:before {
  background-size: cover;
  background: url("/img/notification/error.svg");
}

.border-notification span {
  color: #4b4b4b;
}
