.e404 {
  text-align: center;
  padding: 5rem 0;
}

.e404 h1 {
  font-size: 10rem;
  display: block;
  line-height: 1;
  margin-bottom: 5rem;
}

.home > header {
  background: url("/img/bg.jpg");
  background-size: cover;
}

.home .list-link {
  text-align: center;
}

.home .list-link h2 {
  color: #4b4b4b;
  padding-top: 30px;
}

.home .list-link p {
  color: #4b4b4b;
  padding: 10px 0 20px;
}

.quote {
  position: relative;
  padding: 40px !important;
  font-weight: 300;
  line-height: 1.4;
  font-size: 32px;
  margin: 120px auto 80px;
  text-align: left;
  display: inline-block;
  max-width: 800px;
}

.quote .author {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  font-weight: bold;
}

.quote .author:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 2px;
  background: #c39f76;
}

.quote:before, .quote:after {
  content: "";
  width: 80px;
  height: 70px;
  background: url("/img/quote.svg");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .05;
}

.quote:after {
  right: 0;
  bottom: 60px;
  left: auto;
  top: auto;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.quote span {
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  display: block;
  color: #4b4b4b;
}

.contact header {
  background: url("/img/contact.jpg");
  background-size: cover;
}

.contact .contact-form {
  margin: 100px auto 0;
  max-width: 800px;
}

.contact .contact-form h1 {
  margin-bottom: 20px;
  position: relative;
}

.contact .contact-form h1:before {
  content: "";
  width: 30px;
  position: absolute;
  left: 0;
  top: -20px;
  height: 2px;
  background: #c39f76;
}

.contact .contact-form .left-side li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
}

.contact .contact-form .left-side li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.contact .contact-form .left-side li.location:before {
  background: url("/img/location.svg");
  background-size: 100% 100%;
}

.contact .contact-form .left-side li.phone:before {
  background: url("/img/phone.svg");
  background-size: 100% 100%;
}

.contact .contact-form .left-side li.mail:before {
  background: url("/img/envelope.svg");
  background-size: 100% 100%;
}

.contact .contact-form .left-side li a {
  line-height: 1.5;
  color: #4b4b4b;
}

.contact .contact-form .left-side li a img {
  width: 20px;
  max-height: 20px;
  float: left;
}

.contact .contact-form .right-side .cta {
  padding: 15px 30px;
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  display: block;
}

.contact .contact-form .right-side .input {
  width: 100%;
  margin-bottom: 20px;
}

.contact .contact-form .right-side .input input {
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 0;
  transition: .25s ease;
}

.contact .contact-form .right-side .input input:focus {
  border-bottom: 1px solid #c39f76;
}

.contact .contact-form .right-side .input input.half {
  width: 47.5%;
  display: inline-block;
}

.contact .contact-form .right-side .input input.half:first-child {
  margin-right: 5%;
}

.contact .contact-form .right-side .input textarea {
  border: 1px solid #DFDFDF;
  border-radius: 2px;
  height: 150px;
  width: 100%;
  transition: .25s ease;
}

.contact .contact-form .right-side .input textarea:focus {
  border: 1px solid #c39f76;
}

.contact .infos {
  margin-top: 20px;
}

.contact .map img {
  max-width: 90%;
}

.news > header {
  background: url("/img/wincoach.png");
  background-size: cover;
}

.news .all-news {
  max-width: 700px;
  margin: 50px auto 0;
}

.news .all-news li {
  margin-bottom: 50px;
}

.news .all-news li a {
  color: #282828;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.news .all-news li span {
  color: #c39f76;
  position: relative;
  padding-left: 30px;
}

.news .all-news li span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 20px;
  height: 1px;
  background: #c39f76;
}

.news .all-news li h1 {
  font-size: 18px;
  margin: 10px auto;
  line-height: 1.4;
}

.news .all-news .image {
  width: 40%;
  overflow: hidden;
}

.news .all-news .content {
  width: 55%;
}


.coaching-mental .container h1.no-margin {
  margin-top: 0;
}


.enfants-ados .container li {
  width: 100%;
  padding: 5px 0;
  position: relative;
  padding-left: 20px;
  line-height: 1.4;
}

.enfants-ados .container li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: #c39f76;
  width: 7px;
  height: 7px;
}

.about {
  padding: 150px 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.about h1 {
  margin-bottom: 20px;
  font-size: 32px;
  position: relative;
}

.about h1:before {
  content: "";
  width: 30px;
  position: absolute;
  left: 0;
  top: -20px;
  height: 2px;
  background: #c39f76;
}

.about q {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.6;
  color: #999;
  margin: 0 auto 20px;
  display: inline-block;
}

.about q span {
  display: block;
  text-align: right;
  font-size: 12px;
}

.about .right-content {
  float: right;
  width: 45%;
}

.about .right-content img {
  width: 100%;
}

.about .left-content {
  float: left;
  width: 45%;
}

.about .left-content .link {
  margin-top: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:400,500");
.cta {
  color: #FFFFFF;
  background: #c39f76;
  border-radius: 3px;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  transition: .25s ease;
  position: relative;
  z-index: 9;
}

.cta.reversed {
  background: none;
  border: 1px solid #c39f76;
  box-sizing: border-box;
  color: #c39f76;
}

.cta.reversed:hover {
  background: none;
  color: #c39f76;
}

.cta:hover {
  background: #B38f66;
  color: #FFFFFF;
}

.cta.no-click {
  pointer-events: none;
  opacity: .5;
}

.link a, .link span {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.link a:after, .link span:after {
  position: absolute;
  right: -30px;
  top: 50%;
  content: "";
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: url("/img/arrow-with-line.svg");
  background-size: cover;
  opacity: .2;
  transition: .25s ease;
}

.link a:hover:after, .link span:hover:after {
  -webkit-transform: translate(10px, -50%);
  transform: translate(10px, -50%);
  opacity: 1;
}

.wrapper {
  max-width: 1200px;
  display: block;
  width: 100%;
}

.wrapper2 {
  max-width: 900px;
  display: block;
  width: 100%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

a {
  color: #c39f76;
  position: relative;
  transition: .25s ease;
}

a:hover {
  color: #B38f66;
}

a.duo {
  color: #00B298;
}

a.duo:hover {
  color: #00A288;
}

.hide {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: none;
}

.scrollBlock {
  height: 100vh;
  overflow: hidden;
}

input, textarea {
  border-radius: 3px;
  padding: 0 10px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #DFDFDF;
  resize: none;
  height: 48px;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
}

.hp {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.error-displayer {
  color: #c39f76;
}

.search-list {
  text-align: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 64px;
}

.search-list ul {
  border-top: 1px solid #DFDFDF;
  box-shadow: 0 2px 4px rgba(20, 20, 20, 0.1);
}

.search-list ul li {
  padding: 1rem 2rem;
  background: #FFFFFF;
  color: #4b4b4b;
  height: 3rem;
  transition: .25s ease;
  z-index: 999999;
  position: relative;
  cursor: pointer;
}

.search-list ul li:first-letter {
  text-transform: uppercase;
}

.search-list ul li.hover {
  background: #DFDFDF;
}

.loading-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

button {
  background: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #DFDFDF;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.website main header {
  background: #4b4b4b;
  background-size: cover;
  width: 100%;
  position: relative;
  text-align: center;
}

.website main header .overlay {
  position: relative;
  padding: 250px 0 250px;
  background-color: rgba(20, 17, 9, 0.25);
}

.website main header h2 {
  color: #FFFFFF;
  text-shadow: 1px 1px 30px #141414;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  z-index: 999;
  position: relative;
}

.website main header h2.title {
  font-size: 36px;
}

.website main header h1 {
  color: #FFFFFF;
  font-size: 52px;
  text-transform: uppercase;
  text-shadow: 1px 1px 40px #141414;
  z-index: 999;
  font-weight: 600;
  margin-top: 0;
  position: relative;
}

.website main header h3 {
  color: #FFFFFF;
  font-size: 32px;
  font-style: italic;
  text-shadow: 1px 1px 40px #141414;
  z-index: 999;
  position: relative;
}

.container {
  margin: 80px auto 0;
}

.container img {
  max-width: 100%;
  max-height: 400px;
  display: block;
}

.container h2 {
  color: #c39f76;
  width: 80%;
  margin: 50px auto 30px;
  position: relative;
  padding-left: 40px;
}

.container h2.right {
  padding-left: 0;
  text-align: right;
  padding-right: 40px;
}

.container h2.right:before {
  left: auto;
  right: 0;
}

.container h2:before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 12px;
  background: #c39f76;
}

.container .flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
}

.container .flex.flex_two li {
  width: 45%;
}

.container .flex li {
  width: 23%;
}

.container .flex li .pix {
  text-align: center;
  height: 80px;
  margin-bottom: 20px;
}

.container .flex li .pix img {
  max-height: 100%;
}

.container .flex li p {
  word-break: normal;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.main-content h1 {
  margin: 60px auto 20px;
}

.main-content h1:first-of-type {
  margin-top: 80px;
}

.main-content img {
  margin: 40px auto;
}

.loader {
  border: 4px solid #DFDFDF;
  border-top: 4px solid #FF2F46;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -webkit-animation: spin 1.2s ease infinite;
  animation: spin 1.2s ease infinite;
  opacity: 0;
  pointer-events: none;
  transition: .75s ease;
}

.loader.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader.active {
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.row.row-center {
  justify-content: space-around;
}

.row.row-right {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.row.row-spaced {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
  padding: 20px;
}

.col-1 {
  -webkit-box-flex: 0;
  flex: 0 0 8.333%;
}

.col-2 {
  -webkit-box-flex: 0;
  flex: 0 0 16.666%;
}

.col-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.333%;
}

.col-5 {
  -webkit-box-flex: 0;
  flex: 0 0 41.666%;
}

.col-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58.333%;
}

.col-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66.666%;
}

.col-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  flex: 0 0 83.333%;
}

.col-11 {
  -webkit-box-flex: 0;
  flex: 0 0 91.666%;
}

.col-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
}

.no-gutter {
  padding: 0;
}

.no-gutter-side {
  padding: 20px 0;
}

.no-gutter-top {
  padding: 0 20px 20px;
}

.no-gutter-bottom {
  padding: 20px 20px 0;
}

.no-gutter-left {
  padding: 20px 20px 20px 0;
}

.no-gutter-right {
  padding: 20px 0 20px 20px;
}

.gutter-bottom {
  padding: 0 0 20px;
}

.gutter-top {
  padding: 20px 0 0;
}

.gutter-right {
  padding: 0 20px 0 0;
}

.gutter-left {
  padding: 0 0 0 20px;
}

.gutter-side {
  padding: 0 20px 0 20px;
}

.v-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.v-bottom {
  align-self: flex-end;
}

.text-center {
  text-align: center;
}

.line-breaker {
  width: 100% !important;
}

.form {
  display: -webkit-box;
  display: flex;
  padding: 0;
}

.form .select {
  position: relative;
}

.form .select:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #4b4b4b transparent transparent transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  pointer-events: none;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 0 10px 0;
  width: 100%;
  font-size: 15px;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  height: 48px;
  background: #FFFFFF;
  border-radius: 5px;
}

.form input, .form button {
  width: 100%;
}

@media (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.666%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.666%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.666%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.666%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
  }
}

@media (max-width: 720px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.666%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.666%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.666%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.666%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
  }
}

@media (max-width: 540px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.666%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.666%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.666%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.666%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
  }
}

body {
  font: 1rem/1.4 "Roboto Slab", serif;
  word-wrap: break-word;
}

body textarea {
  font: 1rem/1.4 "Roboto Slab", serif;
  word-wrap: break-word;
}

body h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}

body h2 {
  font-family: "Roboto Slab", serif;
  line-height: 1.8rem;
  color: #c39f76;
  margin-bottom: .25rem;
  font-weight: 400;
  font-size: 1.4rem;
}

body h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 300;
}

body p {
  font: 16px/1.6 "Roboto Slab", serif;
  word-wrap: break-word;
  margin-bottom: 1rem;
  font-weight: 300;
}

body p strong {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, div, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

svg {
  max-height: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, div {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 0;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

input, select {
  vertical-align: middle;
}

button, input[type="checkbox"] {
  cursor: pointer;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, button {
  border: 0;
  font-size: 100%;
}

small {
  text-align: center;
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-header {
  height: 57px;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 99;
}

.main-header h1 {
  margin-top: 0;
}

.main-header .container {
  max-width: 95%;
  margin: 0 auto;
}

.main-header .main-nav {
  float: right;
  margin-top: 8px;
  box-sizing: border-box;
}

.main-header .main-nav .cat-list > li {
  float: left;
  margin-right: 25px;
}

.main-header .main-nav .cat-list > li > a {
  height: 57px;
  font-size: 13px;
  font-weight: bold;
  line-height: 58px;
  display: inline-block;
  border-bottom: 0 solid transparent;
  transition: .2s ease;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 20px rgba(20, 20, 20, 0.8);
  font-family: "Roboto", sans-serif;
}

.main-header .main-nav .cat-list > li > a:hover {
  color: #c39f76;
}

.main-header .main-nav .cat-list > li:last-child {
  margin-right: 0;
}

.main-header .logo {
  float: left;
  display: inline-block;
  height: 70px;
  line-height: 49px;
}

.main-header .logo img {
  max-height: 75px;
}

.main-header li.dd-menu {
  position: relative;
}

.main-header li.dd-menu:hover ul {
  opacity: 1;
  pointer-events: auto;
}

.main-header li.dd-menu ul {
  position: absolute;
  right: 0;
  top: 40px;
  opacity: 0;
  pointer-events: none;
  width: 250px;
  z-index: 9999;
  transition: .3s ease;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.main-header li.dd-menu ul li {
  width: 100%;
}

.main-header li.dd-menu ul li a {
  width: 100%;
  display: block;
  font-size: 13px;
  background: #FFFFFF;
  padding: 14px 24px;
  color: #4b4b4b;
  text-transform: uppercase;
}

.main-header li.dd-menu ul li a:hover {
  background: #c39f76;
  color: #FFFFFF;
}

.main-header .burger-menu {
  position: fixed;
  width: 30px;
  top: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 8px;
  box-sizing: border-box;
}

@media (max-width: 920px) {
  .main-header {
    z-index: 99999;
  }
  .main-header .burger-menu {
    opacity: 1;
    pointer-events: auto;
    z-index: 99999;
  }
  .main-header .logo img {
    max-height: 50px;
  }
  .main-header .main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 9999;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
    transition: .25s;
  }
  .main-header .main-nav.active {
    opacity: 1;
    pointer-events: auto;
  }
  .main-header .main-nav .cat-list li {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .main-header .main-nav .cat-list li a {
    text-align: center;
    display: block;
    color: #4b4b4b;
    text-shadow: none;
  }
  .main-header .main-nav .cat-list li.dd-menu ul {
    opacity: 1;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
  }
  .main-header .main-nav .cat-list li.dd-menu ul li a:hover {
    background: #FFFFFF;
    color: #4b4b4b;
  }
}

footer.main-footer {
  padding: 25px 0;
  text-align: center;
  position: relative;
  max-width: 1200px;
  margin: 100px auto 0;
}

footer.main-footer .flex {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

footer.main-footer .title {
  max-width: 150px;
  text-align: center;
}

footer.main-footer .social {
  margin-top: 35px;
}

footer.main-footer .social li {
  display: inline-block;
  margin-right: 10px;
}

footer.main-footer .social li:last-child {
  margin-right: 0;
}

footer.main-footer .social li a {
  padding: 10px;
  border: 1px solid #4b4b4b;
  border-radius: 50px;
  display: block;
}

footer.main-footer .social li a svg {
  width: 12px;
  height: 12px;
  position: relative;
  top: 1px;
}

footer.main-footer small {
  margin-top: 10px;
  color: #DFDFDF;
  font-size: 12px;
}

footer.main-footer .kevinkevers {
  margin-top: 10px;
}

footer.main-footer .kevinkevers svg {
  width: 15px;
  height: 15px;
}

footer.main-footer .kevinkevers svg path {
  fill: #FFFFFF;
  stroke: #4b4b4b;
  stroke-width: 2;
}

footer.main-footer hr {
  width: 100%;
  height: 1px;
  background: #DFDFDF;
  border: 0;
  padding: 0;
  margin: 10px auto;
}
