// UNCHANGED
$white: #FFFFFF;
$black: #222222;
$red: #FF4640;

//
$mainColor:#c39f76;
$mainColorHover:#B38f66;

$secondColor: #00B298;
$secondColorHover: #00A288;

$adminColor: #FF2F46;
$adminColorHover: #EF1E46;

$adminSubColor: #1e272e;
$adminSubColorHover: #2e373e;

$grey: rgb(75,75,75);
$darkGrey: rgb(40,40,40);
$lightGrey: #DFDFDF;
$veryLightGrey: #F5F5F5;

$facebook : #3b5998;

$url: 'http://localhost:8000/';