@import "../global/colors";

$gridSize: 1200px;
$gutterValue: 20;
$gutterUnit: px;
$gutter: $gutterValue+$gutterUnit;

$sm:540px;
$md:720px;
$lg:992px;
$xl:1200px;

.container {
  max-width: $gridSize;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.row-center{  justify-content: space-around;  }
  &.row-right{  justify-content: flex-end;  }
  &.row-spaced{  justify-content: space-between;  }
}

%col{
  box-sizing: border-box;
  padding: $gutter;
}

.col{
  @extend %col;
}

.col-1 { @extend %col;  flex:0 0 8.333%;  }
.col-2 { @extend %col;  flex:0 0 16.666%; }
.col-3 { @extend %col;  flex:0 0 25%;     }
.col-4 { @extend %col;  flex:0 0 33.333%; }
.col-5 { @extend %col;  flex:0 0 41.666%; }
.col-6 { @extend %col;  flex:0 0 50%;     }
.col-7 { @extend %col;  flex:0 0 58.333%; }
.col-8 { @extend %col;  flex:0 0 66.666%; }
.col-9 { @extend %col;  flex:0 0 75%;     }
.col-10{ @extend %col;  flex:0 0 83.333%;  }
.col-11{ @extend %col;  flex:0 0 91.666%;  }
.col-12{ @extend %col;  flex:0 0 100%;     }

.no-gutter{padding: 0}
.no-gutter-side{padding: $gutter 0;}
.no-gutter-top{padding: 0 $gutter $gutter;}
.no-gutter-bottom{padding: $gutter $gutter 0;}
.no-gutter-left{padding: $gutter $gutter $gutter 0;}
.no-gutter-right{padding: $gutter 0 $gutter $gutter;}

.gutter-bottom{padding: 0 0 $gutter;}
.gutter-top{padding: $gutter 0 0;}
.gutter-right{padding: 0 $gutter 0 0;}
.gutter-left{padding: 0 0 0 $gutter;}
.gutter-side{padding: 0 $gutter 0 $gutter;}


.v-center{align-self: center;}
.v-bottom{align-self: flex-end;}
.text-center{text-align: center;}

.line-breaker{
  width: 100% !important;
}

.form{
  display: flex;
  padding: 0;
  .select{
    position: relative;
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $grey transparent transparent transparent;
      position: absolute;
      right: 20px;
      top:50%;
      pointer-events: none;
      transform: translate(0,-50%);
    }
    select{
      appearance: none;
      background: none;
      padding: 0 10px 0;
      width: 100%;
      font-size: 15px;
      border: 1px solid $lightGrey;
      box-sizing: border-box;
      height: 48px;
      background: $white;
      border-radius: 5px;
    }
  }
  input,button{
    width: 100%;
  }
}

@media(max-width: $lg){

      &.col-lg-1 {  flex:0 0 8.333%;  }
      &.col-lg-2 {  flex:0 0 16.666%; }
      &.col-lg-3 {  flex:0 0 25%;     }
      &.col-lg-4 {  flex:0 0 33.333%; }
      &.col-lg-5 {  flex:0 0 41.666%; }
      &.col-lg-6 {  flex:0 0 50%;     }
      &.col-lg-7 {  flex:0 0 58.333%; }
      &.col-lg-8 {  flex:0 0 66.666%; }
      &.col-lg-9 {  flex:0 0 75%;     }
      &.col-lg-10{ flex:0 0 83.333%;  }
      &.col-lg-11{ flex:0 0 91.666%;  }
      &.col-lg-12{ flex:0 0 100%;     }
}

@media(max-width: $md){

    &.col-md-1 {  flex:0 0 8.333%;  }
    &.col-md-2 {  flex:0 0 16.666%; }
    &.col-md-3 {  flex:0 0 25%;     }
    &.col-md-4 {  flex:0 0 33.333%; }
    &.col-md-5 {  flex:0 0 41.666%; }
    &.col-md-6 {  flex:0 0 50%;     }
    &.col-md-7 {  flex:0 0 58.333%; }
    &.col-md-8 {  flex:0 0 66.666%; }
    &.col-md-9 {  flex:0 0 75%;     }
    &.col-md-10{ flex:0 0 83.333%;  }
    &.col-md-11{ flex:0 0 91.666%;  }
    &.col-md-12{ flex:0 0 100%;     }

}

@media(max-width: $sm){

      &.col-sm-1 {  flex:0 0 8.333%;  }
      &.col-sm-2 {  flex:0 0 16.666%; }
      &.col-sm-3 {  flex:0 0 25%;     }
      &.col-sm-4 {  flex:0 0 33.333%; }
      &.col-sm-5 {  flex:0 0 41.666%; }
      &.col-sm-6 {  flex:0 0 50%;     }
      &.col-sm-7 {  flex:0 0 58.333%; }
      &.col-sm-8 {  flex:0 0 66.666%; }
      &.col-sm-9 {  flex:0 0 75%;     }
      &.col-sm-10{  flex:0 0 83.333%; }
      &.col-sm-11{  flex:0 0 91.666%; }
      &.col-sm-12{  flex:0 0 100%;    }
}
