@import "../global/colors";
.cta {
  color: $white;
  background: $mainColor;
  border-radius: 3px;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  transition: .25s ease;
  position: relative;
  z-index: 9;
  &.reversed{
    background: none;
    border: 1px solid $mainColor;
    box-sizing: border-box;
    color: $mainColor;
    &:hover{
      background: none;
      color: $mainColor;
    }
  }
  &:hover{
    background: $mainColorHover;
    color: $white;
  }
  &.no-click{
    pointer-events: none;
    opacity: .5;
  }
}

.link{
  a,span{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    &:after{
      position: absolute;
      right: -30px;
      top: 50%;
      content: "";
      transform: translate(0,-50%);
      width: 20px;
      height: 20px;
      background: url("/img/arrow-with-line.svg");
      background-size: cover;
      opacity: .2;
      transition: .25s ease;
    }
    &:hover:after{
      transform: translate(10px, -50%);
      opacity: 1;
    }
  }
}

.wrapper{
  max-width: 1200px;
  display: block;
  width: 100%;
}

.wrapper2{
  max-width: 900px;
  display: block;
  width: 100%;
}

.clearfix:after{
  content: "";
  clear: both;
  display: table;
}

a{
  color: $mainColor;
  position: relative;
  transition: .25s ease;
  &:hover{
    color: $mainColorHover;
  }
  &.duo{
    color: $secondColor;
    &:hover{
      color: $secondColorHover;
    }
  }
}

.hide{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: none;
}

.scrollBlock{
  height: 100vh;
  overflow: hidden;
}

input,textarea{
  border-radius: 3px;
  padding: 0 10px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid $lightGrey;
  resize: none;
  height: 48px;
}

textarea{
  padding: 10px;
  width: 100%;
  height: 100px;
}

.hp{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.error-displayer{
  color: $mainColor;
}

.search-list{
  text-align: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 64px;
  ul{
    border-top: 1px solid $lightGrey;
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.1);
    li{
      padding: 1rem 2rem;
      background: $white;
      color: $grey;
      height: 3rem;
      transition: .25s ease;
      z-index: 999999;
      position: relative;
      cursor: pointer;
      &:first-letter{
        text-transform: uppercase;
      }
      &.hover{
        background: $lightGrey;
      }
    }
  }
}

.loading-overlay{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 2;
}

button{
  background: none;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  border: 1px solid $lightGrey;
}

.show{
  opacity: 1;
  pointer-events: auto;
}
.website main{
  header{
    background: $grey;
    background-size: cover;
    width: 100%;
    position: relative;
    text-align: center;
    .overlay{
      position: relative;
      padding: 250px 0 250px;
      background-color: rgba(20,17,9,.25);
    }
    h2{
      color: $white;
      text-shadow: 1px 1px 30px rgba(20, 20, 20, 1);
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 20px;
      z-index: 999;
      position: relative;
      &.title{
        font-size: 36px;
      }
    }
    h1{
      color: $white;
      font-size: 52px;
      text-transform: uppercase;
      text-shadow: 1px 1px 40px rgba(20, 20, 20, 1);
      z-index: 999;
      font-weight: 600;
      margin-top: 0;
      position: relative;
    }
    h3{
      color: $white;
      font-size: 32px;
      font-style: italic;
      text-shadow: 1px 1px 40px rgba(20, 20, 20, 1);
      z-index: 999;
      position: relative;
    }
  }
}

.container{
  margin: 80px auto 0;
  img{
    max-width: 100%;
    max-height: 400px;
    display: block;
  }

  h2{
    color: $mainColor;
    width: 80%;
    margin: 50px auto 30px;
    position: relative;
    padding-left: 40px;
    &.right{
      padding-left: 0;
      text-align: right;
      padding-right: 40px;
      &:before{
        left: auto;
        right: 0;
      }
    }
    &:before{
      content: "";
      width: 30px;
      height: 1px;
      position: absolute;
      left: 0;
      top: 12px;
      background: $mainColor;
    }
  }
  .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    &.flex_two{
      li{
        width: 45%;
      }
    }
    li{
      width: 23%;
      .pix{
        text-align: center;
        height: 80px;
        margin-bottom: 20px;
        img{
          max-height: 100%;
        }
      }
      p{
        word-break: normal;
        hyphens: auto;
      }
    }
  }
}

.main-content{
  h1{
    margin: 60px auto 20px;
    &:first-of-type{
      margin-top: 80px;
    }
  }
  img{
    margin: 40px auto;
  }
}

.loader {
  border: 4px solid $lightGrey;
  border-top: 4px solid $adminColor;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1.2s ease infinite;
  opacity: 0;
  pointer-events: none;
  transition: .75s ease;
  &.position-center{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
  &.active{
    opacity: 1;
  }
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform:  translate(-50%,-50%) rotate(360deg); }
}