html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, div, summary,
time, mark, audio, video {
  margin: 					    0;
  padding: 					    0;
  border: 					    0;
  outline: 					    0;
  font-size: 					100%;
  vertical-align: 			    baseline;
  box-sizing:					border-box;
}

body {
  line-height: 				1;
}

svg {
  max-height:                 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,div {
  display:					block;
}

ul, ol {
  list-style:				none;
}

blockquote, q {
  quotes: 					none;
}

a {
  margin:						0;
  padding:					    0;
  font-size:					100%;
  vertical-align:				baseline;
  background:					transparent;
  text-decoration:              none;
}

a:hover{
  text-decoration: none;
}
:focus {
  outline: 					0;
}

/* change colours to suit your needs */
ins {
  background-color:			#ff9;
  color:					#000;
  text-decoration:			none;
}

/* change colours to suit your needs */
mark {
  background-color:			    #ff9;
  color:						#000;
  font-style:					italic;
  font-weight:				    bold;
}

abbr[title], dfn[title] {
  border-bottom:				1px dotted;
  cursor:						help;
}

input, select {
  vertical-align:				middle;
}

button, input[type="checkbox"]{
  cursor:                     pointer;
  padding: 0;
}

img{
  max-width:                  100%;
  vertical-align:             top;
}
input,button{
  border:                     0;
  font-size:                  100%;
}

small{
  text-align: center;
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}