// -- TITLES -- //
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:400,500");

$mainFont: 'Roboto Slab', serif;
$subFont: 'Roboto', sans-serif;

  body {
    font: 1rem/1.4 $mainFont; // 14/16px
    word-wrap: break-word;

    textarea{
      font: 1rem/1.4 $mainFont; // 14/16px
      word-wrap: break-word;
    }

    h1 {
      font-family: $subFont;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 600;
      text-transform: uppercase;
    }

    h2{
      font-family: $mainFont;
      line-height: 1.8rem;
      color: $mainColor;
      margin-bottom: .25rem;
      font-weight: 400;
      font-size: 1.4rem;
    }

    h3 {
      font-family: $subFont;
      font-size: 1.2rem;
      line-height: 1.6rem;
      font-weight: 300;
    }

    // -- PARAGRAPHS -- //

    p {
      font: 16px/1.6 $mainFont; // 14/16px
      word-wrap: break-word;
      margin-bottom: 1rem;
      font-weight: 300;
      strong {
        font-family: $mainFont;
        font-weight: 400;
      }
    }
}