@import "../global/colors";
.admin{
  background: $lightGrey;
}
.manager {
  background: $lightGrey;
  a{
    color: $grey;
  }

  .back{
    padding-left: 25px;
    position: relative;
    &:before{
      position: absolute;
      content:"";
      background: url(/img/arrow-with-line.svg);
      transform: rotate(180deg);
      background-size: cover;
      left: 0;
      top: 4px;
      height: 15px;
      width: 15px;
    }
  }
  .navigation {
    position: fixed;
    min-height: 100vh;
    width: 90px;
    left: 0;
    top: 0;
    background: $adminSubColor;
    z-index: 999;
    .logout{
      position: absolute;
      left: 0;
      bottom: 0;
      svg{

        path{
          fill:$white;
        }
      }
    }
    header{
      padding: 20px;
      box-sizing: border-box;
      svg{
        max-width: 100%;
        height: 50px;
        path{fill:$white;}
      }
    }
    .main-nav{
      button,a{
        line-height: 20px;
        padding: 10px 0;
        width: 100%;
        display: inline-block;
        text-align: center;
        transition: .25s ease;
        color: $white;
        span {
          display: block;
          font-size: 12px;
          opacity: 0;
          transform: translateY(-5px);
          transition: .3s ease;
        }
        svg {
          height: 25px;
          width: 25px;
          path {
            transition: .3s ease;
            fill: $white;
          }
        }
        &:hover {
          color: $adminColor;
          span{
            opacity: 1;
            transform: translateY(0px);
          }
          svg{
            path {  fill: $adminColor;  }
          }
        }
        &.active {
          background: $adminSubColor;
          span {  color: $adminColor;  }
          svg path {  fill: $adminColor;  }

        }
      }
    }
  }
  .admin-header{
    border-bottom: 1px solid $lightGrey;
    overflow: hidden;
    margin-left: 300px;
    width: calc(100% - 300px);
    .header-menu{
      border-bottom: 1px solid #cccccc;
      padding-top: 10px;
      a{
        font-weight: bold;
        padding-bottom: 13px;
        display: block;
        color: #9a9a9a;
        transition: .2s ease;
        &:after{
          content: "";
          width: 0;
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 2px;
          background: $grey;
          opacity: 1;
        }
        &:hover{
          color: $grey;
        }
        &.active{
          color: $black;
          &:after{
            width: 100%;
            background: $adminColor;
          }
        }
      }
    }
    h1{
      display: inline-block;
      color: $black;
      font-weight: bold;
      font-size: 18px;
      box-sizing: border-box;
    }
  }
  .main-content{
    margin-left: 300px;
    width: calc(100% - 300px);
    padding: 0 20px 20px;
    box-sizing: border-box;
    .main-action-bar{
      position: fixed;
      right: 0;
      bottom:0;
      box-sizing: border-box;
      background: $white;
      z-index: 99999;
      padding: 10px;
      border-top: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;
      button{
        margin-left: 20px;
      }
    }
    h1{
      font-size: 16px;
    }
    .input-editor{
      width: 100%;
    }
    .editor{
      background: $white;
      border: 1px solid $lightGrey;
      width: 100%;
      min-height: 400px;
      padding: 20px;
      box-sizing: border-box;
    }

    .image-editor{
      height: 200px;
      border: 1px solid $lightGrey;
      a{
        position: relative;
        display: block;
        height: 200px;
        &:hover{
          &:before,&:after{
            opacity: 1;
          }
          &:before{
            transform: translate(-50%,0);
          }
        }
        &:after{
          content: "";
          position: absolute;
          left: 0;
          top:0;
          width: 100%;
          height: 100%;
          background: rgba(10,10,10,.9);
          opacity: 0;
          transition: .25s ease;
          z-index: 99;
        }
        &:before{
          content: "Modifier";
          position: absolute;
          left: 50%;
          top: 80px;
          transform: translate(-50%,-10px);
          z-index: 999;
          color: $white;
          opacity: 0;
          padding: 10px 20px;
          border: 2px solid $white;
          transition: .4s ease;
        }
      }
      svg{
        position: absolute;
        left: 50%;
        top: 50px;
        height: 80px;
        width: 50px;
        z-index: 2; // Important to be behind img
        transform: translateX(-50%);
      }
      .image{
        text-align: center;
        img{
          max-height: 200px;
          z-index: 3;
          position: relative;
          margin: 0 auto;
        }
      }
    }
    .filters{
      button{
        background: none;
        border: 1px solid $lightGrey;
        margin-right: 10px;
        padding: 10px 20px;
        border-radius: 50px;
      }
    }

    .card{
      background: $white;
      box-shadow: 0 2px 1px #ccc;
      padding: 0;
      margin: 20px;
      > .col,> .col-1,> .col-2,> .col-3,> .col-4,> .col-5,> .col-6,> .col-7,> .col-8,> .col-9,> .col-10,> .col-11,> .col-12{
      }
      h2{
        color: $adminSubColor;
        font-size: 14px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
.dashboard{
  .page-list{
    a{
      display: block;
      padding: 20px 0;
      transition: .2s ease;
      color: $grey;
      &:hover{
        position: relative;
        transform: scale(1.05);
      }
    }
    svg{
      max-width: 100px;
      path{
        fill: $adminColor;
      }
    }
    span{
      display: block;
      margin-top: 20px;
    }
  }
}

.login {
  padding-top: 150px;
  min-height: 100vh;
  text-align: center;
  background: $lightGrey;
  h1{
    margin: 0 auto 20px;
    color: $adminSubColor;
    font-size: 24px;
  }
  .container {
    margin: 0 auto;
    padding: 24px 32px;
    box-shadow: 0 2px 1px #ccc;
    max-width: 400px;
    background: $veryLightGrey;
    img {
      max-width: 100px;
      display: block;
      margin: 20px auto 40px;
    }
    input {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-indent: 20px;
      margin: 16px auto;
    }
    .cta {
      width: 100%;
      padding: 20px 0;
      text-transform: uppercase;
    }

  }
  .error {
    color: #f50;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 20px;
  }

  .resetPassword {
    color: #9a9a9a;
    padding-top: 1rem;
    display: block
  }
}

.admin .cta{
  background: $adminSubColor;
  font-weight: bold;
  letter-spacing: 1px;
  color: $white;
  &:hover{
    background: $adminColorHover;
  }
}

.sub-menu-to-display{
  position: fixed;
  opacity: 0;
  left: 90px;
  padding-top: 20px;
  top: 0;
  width: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: $adminSubColorHover;
  &.active{
    opacity: 1;
    width: 210px;
  }
  h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $white;
    padding: 10px 10px 10px 25px !important;
  }
  a{
    text-align: left !important;
    font-size: 14px;
    padding: 15px 15px 15px 25px !important;
    svg path{
      fill:$white !important;
    }
    &.active{
      background: $adminColor !important;
      &:hover{
        color: $white !important;
        svg path{
            fill:$white !important;
          }
      }
    }
    svg{
      margin-right: 10px;
      position: relative;
      top: 2px;
      height: 15px !important;
      width: 15px !important;
      path{
        fill:$white;
      }
    }
  }
}

.popup{
  position: fixed;
  z-index: 1000;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
  &.active{
    opacity: 1;
    pointer-events: auto;
  }
  .overlay{
    width: 100vw;
    height: 100vh;
    background: rgba(10,10,10,.5);
    pointer-events: none;
    position: absolute;
    z-index: 0;
  }
  .action{
    margin: 20px auto 0;
    .upload-file-label{
      padding: 30px;
      display: inline-block;
      border: 1px solid $lightGrey;
      cursor: pointer;
    }
  }
  .content{
    position: fixed;
    left: 50%;
    top:50%;
    min-height: 100px;
    min-width: 100px;
    background: $white;
    transform: translate(-50%,-50%);
    .exit{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 15px;
      height: 15px;
    }
    .library{
      width: 900px;
      .img-list{
        height: 50vh;
        ul{
          height: 50vh;
          overflow: auto;
          .el{
            margin-right: 16px;
            display: block;
            overflow: hidden;
            float: left;
            margin-bottom: 16px;
            &:nth-child(6n+6){
              margin-right: 0;
            }
            a{
              display: block;
              height: 130px;
              width: 130px;
              overflow: hidden;
              border: 4px solid transparent;
              transition: .25s ease;
              box-sizing: border-box;
              &:hover{
                border: 4px solid $adminColor;
              }
            }
            img{
              max-width: none;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

.list{
  padding: 20px;
  background: $white;
  .labels a{ text-transform: uppercase;}
  .articles{
    a{
      color: $grey;
      border-bottom: 1px solid $lightGrey;
      &:hover{
        background: $veryLightGrey;
      }
    }
  }

  .articles li:last-child a{
    border-bottom: 0;
  }
}