@import "../global/colors";

.border-notification{
  position: fixed;
  top:40px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 9999999;
  padding:20px;
  padding-left: 50px;
  min-width: 40%;
  border: 1px solid rgba(50, 50, 255, .7);
  background: rgba(190, 190, 255, .9);
  &:before{
    content: "";
    position: absolute;
    left: 20px;
    top:50%;
    transform: translate(0,-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    background: url("/img/notification/info.svg");
  }
  &.success {
    border: 1px solid rgba(50, 255, 50, .7);
    background: rgba(190, 255, 190, .9);
    &:before {
      background-size: cover;
      background: url("/img/notification/success.svg");
    }
  }
  &.error {
    border: 1px solid rgba(255, 50, 50, .7);
    background: rgba(255, 190, 190, .9);
    &:before {
      background-size: cover;
      background: url("/img/notification/error.svg");
    }
  }
  span{
    color: $grey;
  }
}
